<div class="container">
  <ul class="nav row">
    <li class="nav-item">
      <a class="nav-link" routerLink="/open-positions">Open positions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tasks">Tasks</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
